-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "StatusPagamento" AS ENUM ('ABERTO', 'CONCLUIDO');

-- CreateEnum
CREATE TYPE "StatusProva" AS ENUM ('RASCUNHO', 'PUBLICADA', 'ENCERRADA');

-- CreateEnum
CREATE TYPE "TipoQuestao" AS ENUM ('MULTIPLA_ESCOLHA', 'DISSERTATIVA', 'VERDADEIRO_FALSO');

-- CreateEnum
CREATE TYPE "StatusResultado" AS ENUM ('PENDENTE', 'CORRIGIDA');

-- CreateEnum
CREATE TYPE "EscalaNotas" AS ENUM ('A', 'P_MAIS', 'P_ALTO', 'P', 'P_BAIXO', 'P_MENOS', 'R');

-- CreateEnum
CREATE TYPE "StatusPCO" AS ENUM ('RASCUNHO', 'ATIVA', 'ENCERRADA');

-- CreateEnum
CREATE TYPE "TipoPerguntaPCO" AS ENUM ('ESCALA', 'MULTIPLA_ESCOLHA', 'TEXTO_LIVRE');

-- CreateEnum
CREATE TYPE "StatusAvaliacao360" AS ENUM ('RASCUNHO', 'ATIVA', 'ENCERRADA');

-- CreateEnum
CREATE TYPE "TipoPergunta360" AS ENUM ('ESCALA', 'TEXTO_ABERTO');

-- CreateTable
CREATE TABLE "Area" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Area_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subarea" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "areaId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Subarea_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Membro" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "fotoUrl" TEXT,
    "dre" TEXT NOT NULL,
    "periodo" TEXT NOT NULL,
    "isAtivo" BOOLEAN NOT NULL DEFAULT true,
    "isCoordenador" BOOLEAN NOT NULL DEFAULT false,
    "isLiderSubarea" BOOLEAN NOT NULL DEFAULT false,
    "areaId" INTEGER NOT NULL,
    "subareaId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Membro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Coordenador" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "usuario" TEXT NOT NULL,
    "senhaHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Coordenador_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Avaliacao" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "dataInicio" TIMESTAMP(3) NOT NULL,
    "dataFim" TIMESTAMP(3),
    "idCiclo" INTEGER,
    "finalizada" BOOLEAN NOT NULL DEFAULT false,
    "createdById" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Avaliacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ciclo" (
    "id" SERIAL NOT NULL,
    "nome" VARCHAR(6) NOT NULL,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Ciclo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RespostaAvaliacao" (
    "id" SERIAL NOT NULL,
    "avaliacaoId" INTEGER NOT NULL,
    "avaliadorId" INTEGER NOT NULL,
    "avaliadoId" INTEGER NOT NULL,
    "notaEntrega" INTEGER NOT NULL,
    "notaCultura" INTEGER NOT NULL,
    "oneOnOneFeito" BOOLEAN NOT NULL DEFAULT false,
    "feedbackTexto" TEXT NOT NULL,
    "finalizada" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RespostaAvaliacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlanoAcao" (
    "id" SERIAL NOT NULL,
    "respostaAvaliacaoId" INTEGER NOT NULL,
    "responsavelId" INTEGER NOT NULL,
    "descricao" TEXT NOT NULL,
    "concluido" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PlanoAcao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AvaliacaoFeedback" (
    "id" SERIAL NOT NULL,
    "respostaAvaliacaoId" INTEGER NOT NULL,
    "avaliadoId" INTEGER NOT NULL,
    "notaFeedback" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AvaliacaoFeedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ParticipacaoAvaliacao" (
    "id" SERIAL NOT NULL,
    "avaliacaoId" INTEGER NOT NULL,
    "membroId" INTEGER NOT NULL,
    "respondeuAvaliacao" BOOLEAN NOT NULL DEFAULT false,
    "avaliouFeedbacks" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "ParticipacaoAvaliacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Demanda" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "finalizada" BOOLEAN NOT NULL DEFAULT false,
    "creditoMembro" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "creditoLider" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "idArea" INTEGER,
    "idSubarea" INTEGER,
    "idCiclo" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Demanda_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AlocacaoDemanda" (
    "id" SERIAL NOT NULL,
    "membroId" INTEGER NOT NULL,
    "demandaId" INTEGER NOT NULL,
    "isLider" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "AlocacaoDemanda_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pagamento" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "valor" DECIMAL(10,2) NOT NULL,
    "notaFiscal" TEXT,
    "pdfUrl" TEXT,
    "status" "StatusPagamento" NOT NULL DEFAULT 'ABERTO',
    "demandaId" INTEGER,
    "areaId" INTEGER,
    "responsavelId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Pagamento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcessoSeletivo" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProcessoSeletivo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Prova" (
    "id" SERIAL NOT NULL,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "tempoLimite" INTEGER,
    "embaralhar" BOOLEAN NOT NULL DEFAULT false,
    "status" "StatusProva" NOT NULL DEFAULT 'RASCUNHO',
    "processoSeletivoId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Prova_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Questao" (
    "id" SERIAL NOT NULL,
    "provaId" INTEGER NOT NULL,
    "tipo" "TipoQuestao" NOT NULL,
    "enunciado" TEXT NOT NULL,
    "pontos" DECIMAL(10,2) NOT NULL,
    "ordem" INTEGER NOT NULL,

    CONSTRAINT "Questao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ImagemQuestao" (
    "id" SERIAL NOT NULL,
    "questaoId" INTEGER NOT NULL,
    "url" TEXT NOT NULL,
    "ordem" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ImagemQuestao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Alternativa" (
    "id" SERIAL NOT NULL,
    "questaoId" INTEGER NOT NULL,
    "texto" TEXT NOT NULL,
    "correta" BOOLEAN NOT NULL DEFAULT false,
    "ordem" INTEGER NOT NULL,

    CONSTRAINT "Alternativa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Candidato" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "curso" TEXT,
    "periodo" TEXT,
    "dre" TEXT NOT NULL DEFAULT '',
    "notaDinamica" "EscalaNotas",
    "aprovadoDinamica" BOOLEAN,
    "notaEntrevista" "EscalaNotas",
    "aprovadoEntrevista" BOOLEAN,
    "notaArtigo" DECIMAL(5,2),
    "apresArtigo" DECIMAL(5,2),
    "notaCase" "EscalaNotas",
    "aprovadoCapacitacao" BOOLEAN,
    "observacao" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Candidato_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResultadoProva" (
    "id" SERIAL NOT NULL,
    "provaId" INTEGER NOT NULL,
    "candidatoId" INTEGER NOT NULL,
    "status" "StatusResultado" NOT NULL DEFAULT 'PENDENTE',
    "notaFinal" DECIMAL(10,2),
    "aprovadoProva" BOOLEAN,
    "tempoGasto" INTEGER,
    "iniciadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "finalizadoEm" TIMESTAMP(3),

    CONSTRAINT "ResultadoProva_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RespostaQuestao" (
    "id" SERIAL NOT NULL,
    "resultadoId" INTEGER NOT NULL,
    "questaoId" INTEGER NOT NULL,
    "alternativaId" INTEGER,
    "respostaTexto" TEXT,
    "pontuacao" DECIMAL(10,2),
    "corrigida" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "RespostaQuestao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Termometro" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "dataInicial" DATE NOT NULL,
    "dataFinal" DATE NOT NULL,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "idCiclo" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Termometro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PerguntaTermometro" (
    "id" SERIAL NOT NULL,
    "termometroId" INTEGER NOT NULL,
    "texto" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PerguntaTermometro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RespostaTermometro" (
    "id" SERIAL NOT NULL,
    "idMembro" INTEGER NOT NULL,
    "idTermometro" INTEGER NOT NULL,
    "nota" INTEGER NOT NULL,

    CONSTRAINT "RespostaTermometro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PCO" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "status" "StatusPCO" NOT NULL DEFAULT 'RASCUNHO',
    "dataInicio" TIMESTAMP(3),
    "dataFim" TIMESTAMP(3),
    "idCiclo" INTEGER,
    "anonima" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PCO_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SecaoPCO" (
    "id" SERIAL NOT NULL,
    "pcoId" INTEGER NOT NULL,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "ordem" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SecaoPCO_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PerguntaPCO" (
    "id" SERIAL NOT NULL,
    "secaoId" INTEGER NOT NULL,
    "texto" TEXT NOT NULL,
    "tipo" "TipoPerguntaPCO" NOT NULL DEFAULT 'ESCALA',
    "obrigatoria" BOOLEAN NOT NULL DEFAULT true,
    "ordem" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PerguntaPCO_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OpcaoPerguntaPCO" (
    "id" SERIAL NOT NULL,
    "perguntaId" INTEGER NOT NULL,
    "texto" TEXT NOT NULL,
    "ordem" INTEGER NOT NULL,

    CONSTRAINT "OpcaoPerguntaPCO_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ParticipacaoPCO" (
    "id" SERIAL NOT NULL,
    "pcoId" INTEGER NOT NULL,
    "membroId" INTEGER NOT NULL,
    "respondeu" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "ParticipacaoPCO_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RespostaPCO" (
    "id" SERIAL NOT NULL,
    "perguntaId" INTEGER NOT NULL,
    "membroId" INTEGER NOT NULL,
    "pcoId" INTEGER NOT NULL,
    "nota" INTEGER,
    "opcaoId" INTEGER,
    "texto" TEXT,
    "justificativa" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RespostaPCO_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Avaliacao360" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "status" "StatusAvaliacao360" NOT NULL DEFAULT 'RASCUNHO',
    "dataInicio" TIMESTAMP(3),
    "dataFim" TIMESTAMP(3),
    "idCiclo" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Avaliacao360_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Dimensao360" (
    "id" SERIAL NOT NULL,
    "avaliacaoId" INTEGER NOT NULL,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "peso" DECIMAL(5,2),
    "ordem" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Dimensao360_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pergunta360" (
    "id" SERIAL NOT NULL,
    "dimensaoId" INTEGER NOT NULL,
    "texto" TEXT NOT NULL,
    "tipo" "TipoPergunta360" NOT NULL DEFAULT 'ESCALA',
    "obrigatoria" BOOLEAN NOT NULL DEFAULT true,
    "ordem" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Pergunta360_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Feedback360" (
    "id" SERIAL NOT NULL,
    "avaliacaoId" INTEGER NOT NULL,
    "avaliadorId" INTEGER NOT NULL,
    "avaliadoId" INTEGER NOT NULL,
    "finalizado" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Feedback360_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RespostaPergunta360" (
    "id" SERIAL NOT NULL,
    "feedbackId" INTEGER NOT NULL,
    "perguntaId" INTEGER NOT NULL,
    "nota" INTEGER,
    "texto" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RespostaPergunta360_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Coordenador_usuario_key" ON "Coordenador"("usuario");

-- CreateIndex
CREATE UNIQUE INDEX "RespostaAvaliacao_avaliacaoId_avaliadorId_avaliadoId_key" ON "RespostaAvaliacao"("avaliacaoId", "avaliadorId", "avaliadoId");

-- CreateIndex
CREATE UNIQUE INDEX "AvaliacaoFeedback_respostaAvaliacaoId_key" ON "AvaliacaoFeedback"("respostaAvaliacaoId");

-- CreateIndex
CREATE UNIQUE INDEX "ParticipacaoAvaliacao_avaliacaoId_membroId_key" ON "ParticipacaoAvaliacao"("avaliacaoId", "membroId");

-- CreateIndex
CREATE UNIQUE INDEX "AlocacaoDemanda_membroId_demandaId_key" ON "AlocacaoDemanda"("membroId", "demandaId");

-- CreateIndex
CREATE INDEX "Prova_processoSeletivoId_idx" ON "Prova"("processoSeletivoId");

-- CreateIndex
CREATE INDEX "Questao_provaId_idx" ON "Questao"("provaId");

-- CreateIndex
CREATE INDEX "ImagemQuestao_questaoId_idx" ON "ImagemQuestao"("questaoId");

-- CreateIndex
CREATE INDEX "Alternativa_questaoId_idx" ON "Alternativa"("questaoId");

-- CreateIndex
CREATE UNIQUE INDEX "Candidato_email_key" ON "Candidato"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Candidato_dre_key" ON "Candidato"("dre");

-- CreateIndex
CREATE UNIQUE INDEX "ResultadoProva_provaId_candidatoId_key" ON "ResultadoProva"("provaId", "candidatoId");

-- CreateIndex
CREATE UNIQUE INDEX "RespostaQuestao_resultadoId_questaoId_key" ON "RespostaQuestao"("resultadoId", "questaoId");

-- CreateIndex
CREATE INDEX "SecaoPCO_pcoId_idx" ON "SecaoPCO"("pcoId");

-- CreateIndex
CREATE INDEX "PerguntaPCO_secaoId_idx" ON "PerguntaPCO"("secaoId");

-- CreateIndex
CREATE INDEX "OpcaoPerguntaPCO_perguntaId_idx" ON "OpcaoPerguntaPCO"("perguntaId");

-- CreateIndex
CREATE UNIQUE INDEX "ParticipacaoPCO_pcoId_membroId_key" ON "ParticipacaoPCO"("pcoId", "membroId");

-- CreateIndex
CREATE INDEX "RespostaPCO_pcoId_idx" ON "RespostaPCO"("pcoId");

-- CreateIndex
CREATE UNIQUE INDEX "RespostaPCO_perguntaId_membroId_key" ON "RespostaPCO"("perguntaId", "membroId");

-- CreateIndex
CREATE INDEX "Dimensao360_avaliacaoId_idx" ON "Dimensao360"("avaliacaoId");

-- CreateIndex
CREATE INDEX "Pergunta360_dimensaoId_idx" ON "Pergunta360"("dimensaoId");

-- CreateIndex
CREATE INDEX "Feedback360_avaliacaoId_idx" ON "Feedback360"("avaliacaoId");

-- CreateIndex
CREATE INDEX "Feedback360_avaliadorId_idx" ON "Feedback360"("avaliadorId");

-- CreateIndex
CREATE INDEX "Feedback360_avaliadoId_idx" ON "Feedback360"("avaliadoId");

-- CreateIndex
CREATE UNIQUE INDEX "Feedback360_avaliacaoId_avaliadorId_avaliadoId_key" ON "Feedback360"("avaliacaoId", "avaliadorId", "avaliadoId");

-- CreateIndex
CREATE INDEX "RespostaPergunta360_feedbackId_idx" ON "RespostaPergunta360"("feedbackId");

-- CreateIndex
CREATE INDEX "RespostaPergunta360_perguntaId_idx" ON "RespostaPergunta360"("perguntaId");

-- CreateIndex
CREATE UNIQUE INDEX "RespostaPergunta360_feedbackId_perguntaId_key" ON "RespostaPergunta360"("feedbackId", "perguntaId");

-- AddForeignKey
ALTER TABLE "Subarea" ADD CONSTRAINT "Subarea_areaId_fkey" FOREIGN KEY ("areaId") REFERENCES "Area"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Membro" ADD CONSTRAINT "Membro_areaId_fkey" FOREIGN KEY ("areaId") REFERENCES "Area"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Membro" ADD CONSTRAINT "Membro_subareaId_fkey" FOREIGN KEY ("subareaId") REFERENCES "Subarea"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Avaliacao" ADD CONSTRAINT "Avaliacao_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "Coordenador"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Avaliacao" ADD CONSTRAINT "Avaliacao_idCiclo_fkey" FOREIGN KEY ("idCiclo") REFERENCES "Ciclo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaAvaliacao" ADD CONSTRAINT "RespostaAvaliacao_avaliacaoId_fkey" FOREIGN KEY ("avaliacaoId") REFERENCES "Avaliacao"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaAvaliacao" ADD CONSTRAINT "RespostaAvaliacao_avaliadorId_fkey" FOREIGN KEY ("avaliadorId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaAvaliacao" ADD CONSTRAINT "RespostaAvaliacao_avaliadoId_fkey" FOREIGN KEY ("avaliadoId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlanoAcao" ADD CONSTRAINT "PlanoAcao_respostaAvaliacaoId_fkey" FOREIGN KEY ("respostaAvaliacaoId") REFERENCES "RespostaAvaliacao"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlanoAcao" ADD CONSTRAINT "PlanoAcao_responsavelId_fkey" FOREIGN KEY ("responsavelId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AvaliacaoFeedback" ADD CONSTRAINT "AvaliacaoFeedback_respostaAvaliacaoId_fkey" FOREIGN KEY ("respostaAvaliacaoId") REFERENCES "RespostaAvaliacao"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AvaliacaoFeedback" ADD CONSTRAINT "AvaliacaoFeedback_avaliadoId_fkey" FOREIGN KEY ("avaliadoId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParticipacaoAvaliacao" ADD CONSTRAINT "ParticipacaoAvaliacao_avaliacaoId_fkey" FOREIGN KEY ("avaliacaoId") REFERENCES "Avaliacao"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParticipacaoAvaliacao" ADD CONSTRAINT "ParticipacaoAvaliacao_membroId_fkey" FOREIGN KEY ("membroId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Demanda" ADD CONSTRAINT "Demanda_idArea_fkey" FOREIGN KEY ("idArea") REFERENCES "Area"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Demanda" ADD CONSTRAINT "Demanda_idSubarea_fkey" FOREIGN KEY ("idSubarea") REFERENCES "Subarea"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Demanda" ADD CONSTRAINT "Demanda_idCiclo_fkey" FOREIGN KEY ("idCiclo") REFERENCES "Ciclo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AlocacaoDemanda" ADD CONSTRAINT "AlocacaoDemanda_membroId_fkey" FOREIGN KEY ("membroId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AlocacaoDemanda" ADD CONSTRAINT "AlocacaoDemanda_demandaId_fkey" FOREIGN KEY ("demandaId") REFERENCES "Demanda"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pagamento" ADD CONSTRAINT "Pagamento_demandaId_fkey" FOREIGN KEY ("demandaId") REFERENCES "Demanda"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pagamento" ADD CONSTRAINT "Pagamento_areaId_fkey" FOREIGN KEY ("areaId") REFERENCES "Area"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pagamento" ADD CONSTRAINT "Pagamento_responsavelId_fkey" FOREIGN KEY ("responsavelId") REFERENCES "Membro"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prova" ADD CONSTRAINT "Prova_processoSeletivoId_fkey" FOREIGN KEY ("processoSeletivoId") REFERENCES "ProcessoSeletivo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Questao" ADD CONSTRAINT "Questao_provaId_fkey" FOREIGN KEY ("provaId") REFERENCES "Prova"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ImagemQuestao" ADD CONSTRAINT "ImagemQuestao_questaoId_fkey" FOREIGN KEY ("questaoId") REFERENCES "Questao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Alternativa" ADD CONSTRAINT "Alternativa_questaoId_fkey" FOREIGN KEY ("questaoId") REFERENCES "Questao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultadoProva" ADD CONSTRAINT "ResultadoProva_provaId_fkey" FOREIGN KEY ("provaId") REFERENCES "Prova"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResultadoProva" ADD CONSTRAINT "ResultadoProva_candidatoId_fkey" FOREIGN KEY ("candidatoId") REFERENCES "Candidato"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaQuestao" ADD CONSTRAINT "RespostaQuestao_resultadoId_fkey" FOREIGN KEY ("resultadoId") REFERENCES "ResultadoProva"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaQuestao" ADD CONSTRAINT "RespostaQuestao_questaoId_fkey" FOREIGN KEY ("questaoId") REFERENCES "Questao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Termometro" ADD CONSTRAINT "Termometro_idCiclo_fkey" FOREIGN KEY ("idCiclo") REFERENCES "Ciclo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PerguntaTermometro" ADD CONSTRAINT "PerguntaTermometro_termometroId_fkey" FOREIGN KEY ("termometroId") REFERENCES "Termometro"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaTermometro" ADD CONSTRAINT "RespostaTermometro_idMembro_fkey" FOREIGN KEY ("idMembro") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaTermometro" ADD CONSTRAINT "RespostaTermometro_idTermometro_fkey" FOREIGN KEY ("idTermometro") REFERENCES "Termometro"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PCO" ADD CONSTRAINT "PCO_idCiclo_fkey" FOREIGN KEY ("idCiclo") REFERENCES "Ciclo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SecaoPCO" ADD CONSTRAINT "SecaoPCO_pcoId_fkey" FOREIGN KEY ("pcoId") REFERENCES "PCO"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PerguntaPCO" ADD CONSTRAINT "PerguntaPCO_secaoId_fkey" FOREIGN KEY ("secaoId") REFERENCES "SecaoPCO"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OpcaoPerguntaPCO" ADD CONSTRAINT "OpcaoPerguntaPCO_perguntaId_fkey" FOREIGN KEY ("perguntaId") REFERENCES "PerguntaPCO"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParticipacaoPCO" ADD CONSTRAINT "ParticipacaoPCO_pcoId_fkey" FOREIGN KEY ("pcoId") REFERENCES "PCO"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParticipacaoPCO" ADD CONSTRAINT "ParticipacaoPCO_membroId_fkey" FOREIGN KEY ("membroId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaPCO" ADD CONSTRAINT "RespostaPCO_perguntaId_fkey" FOREIGN KEY ("perguntaId") REFERENCES "PerguntaPCO"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaPCO" ADD CONSTRAINT "RespostaPCO_membroId_fkey" FOREIGN KEY ("membroId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Avaliacao360" ADD CONSTRAINT "Avaliacao360_idCiclo_fkey" FOREIGN KEY ("idCiclo") REFERENCES "Ciclo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Dimensao360" ADD CONSTRAINT "Dimensao360_avaliacaoId_fkey" FOREIGN KEY ("avaliacaoId") REFERENCES "Avaliacao360"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pergunta360" ADD CONSTRAINT "Pergunta360_dimensaoId_fkey" FOREIGN KEY ("dimensaoId") REFERENCES "Dimensao360"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Feedback360" ADD CONSTRAINT "Feedback360_avaliacaoId_fkey" FOREIGN KEY ("avaliacaoId") REFERENCES "Avaliacao360"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Feedback360" ADD CONSTRAINT "Feedback360_avaliadorId_fkey" FOREIGN KEY ("avaliadorId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Feedback360" ADD CONSTRAINT "Feedback360_avaliadoId_fkey" FOREIGN KEY ("avaliadoId") REFERENCES "Membro"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaPergunta360" ADD CONSTRAINT "RespostaPergunta360_feedbackId_fkey" FOREIGN KEY ("feedbackId") REFERENCES "Feedback360"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RespostaPergunta360" ADD CONSTRAINT "RespostaPergunta360_perguntaId_fkey" FOREIGN KEY ("perguntaId") REFERENCES "Pergunta360"("id") ON DELETE CASCADE ON UPDATE CASCADE;

